<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flags/css/flag-icon.min.css">
</head>
<body>
    <div id="navbar"><a href="index.php">MyCRUD</a></div>
        <div id="container">
            {% block info %}{% endblock %}
            {% block userTable %}{% endblock %}
            {% block menu %}{% endblock %}
            {% block buttons %}{% endblock %}
        </div>
</body>
</html>