{% extends "base.html" %}

{% block title %}MyCRUD | Main{% endblock %}

{% block info %}
<div id="infoPanel">
    {% if result %}
    <i class="fa fa-check" aria-hidden="true"></i> {{ resultMsg }}
    {% elseif not result and error is not empty %}
    <i class="fa fa-close" aria-hidden="true"></i> {{ error }}
    {% endif %}
</div>
{% endblock %}

{% block userTable %}
 <!-- TABLE HERE -->
<div id="userTable">
    <table>
        <tr>
            <th>Nr</th>
            <th><a href="sort.php?by=name">Name</a></th>
            <th><a href="sort.php?by=surname">Surname</a></th>
            <th>Age</th>
            <th><a href="sort.php?by=email">E-mail</a></th>
            <th><a href="sort.php?by=dateOfBirth">Date of birth</a></th>
            <th>Options</th>
        </tr>
        <form action="edit.php" method="post">
        {% for row in rows %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row.name | raw }}</td>
            <td>{{ row.surname | raw }}</td>
            <td>{{ row.age | raw }}</td>
            <td>{{ row.email | raw }}</td>
            <td>{{ row.dateOfBirth | raw }}</td>
            <td>
                {% if editMode and row.id == idToEdit %}
                <button class="confirmButton" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Confirm</button>
                <input type="text" name="id" value="{{ idToEdit }}" style="display: none"; />
                {% else %}
                <a href="edit.php?id={{ row.id }}"><button type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button></a>
                <a href="delete.php?id={{ row.id }}"><button type="button"><i class="fa fa-close" aria-hidden="true"></i> Delete</button></a>
                <!--<a href="edit.php?id={{ row.id }}">Edit</a> |-->
                <!--<a href="delete.php?id={{ row.id }}">Delete</a>-->
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </form>
    </table>
</div>
{% endblock %}

{% block menu %}
<div id="menu">
    <button id="addButton"><i class="fa fa-user-o" aria-hidden="true"></i></button>
</div>
{% endblock %}

{% block buttons %}
<div id="buttons">
    <h3>Add a new user:</h3>
    <form action="add.php" method="post">
        <input type="text" name="name" placeholder="Name" required /><br />
        <input type="text" name="surname" placeholder="Surname" required /><br />
        <input type="email" name="email" placeholder="E-mail" required /><br />
        <input type="date" name="dateOfBirth" placeholder="Date of birth [YYYY-MM-DD]" required /><br />
        <button type="submit" id="addUser">Add</button>
    </form>
</div>
<script src="js/showAddForm.js"></script>
{% endblock %}
