@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Varela+Round');

#buttons {
    display: none;
    background: #F0F2EF;
    margin-top: 20px;
    text-align: center;
    padding: 5px 10px 5px 10px;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #000000;
}

#buttons h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#userTable {
    background: #F0F2EF;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: auto;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #000000;
}

#userTable input {
    text-align: center;
}

h3 {
    margin: 0;
}

#buttons input {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 200px;
}



#buttons button {
    margin-top: 5px;
    width: 204px; // +2 input border
}

a {
    color: #5D8C56;
    text-decoration: none;
}


table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

th {
    background: #99bc95;
}

th a {
    color: black;
    text-decoration: none;
}


table, th, td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

tr:nth-child(odd) {
    background: #e5ede1;
}

body {
    background: #AFD5AA;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
}

#navbar {
    height: 50px;
    width: 100%;
    background: #5D8C56;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#navbar a {
    text-decoration: none;
    color: white;
}

#container {
    margin: 0 auto;
    width: 70vw;
}

#infoPanel {
    background: #F0F2EF;
    margin: 20px 0 20px 0;
    padding: 5px 10px 5px 10px;
    height: 20px;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #000000;
}

input {
    font-family: 'Didact Gothic', sans-serif;
}

button[type="button"], button[type="submit"] {
    background: #a4c6a1;
    border: 0px;
    padding: 5px 10px;
    margin-left: 5px;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}


#menu {
    text-align: center;
}
#addButton {
    background: #99bc95;
    color: #F0F2EF;
    margin-top: -15px;
    border-radius: 50%;
    border: 3px solid #AFD5AA;
    width: 50px;
    height: 50px;
    font-size: 26px;
    outline: none;

    -webkit-transition: background 1s, color 1s ease-in-out;
    transition: background 1s, color 1s ease-in-out;
}

#addButton:hover {
    background: #F0F2EF;
    color: #99bc95;
    border: 3px solid #AFD5AA;
}

#buttons button {
    margin: 10px 0 20px 0;
}